<div class="container" id="main">
	<div class="row" id="row">
		<h1>Bienvenue sur le logiciel CP !</h1>
		
		
		<div class="col-md-3">
		<a href="#/listenImages"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-headphones"></span> Écouter les images</button></a><br />
		<a href="#/listenSyllables"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-headphones"></span> Écouter les syllabes</button></a><br />
		<a href="#/listenWords"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-headphones"></span> Écouter les mots</button></a>
		</div>
		
		<div class="col-md-3">
		<a href="#/readSyllables"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-book"></span> Lire les syllabes</button></a><br />
		<a href="#/readLetters"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-book"></span> Lire les lettres</button></a><br />
		<a href="#/readWords"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-book"></span> Lire les mots</button></a>
		</div>
		
		<div class="col-md-3">
		<a href="#/writeSyllables"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pencil"></span> Écrire les syllabes</button></a><br />
		<a href="#/writeLetters"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pencil"></span> Écrire les lettres</button></a><br />
		<a href="#/writeWords"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pencil"></span> Écrire les mots</button></a>
		</div>
		
		<div class="col-md-3">
			<a href="#/readNumbers"><button type="button" class="btn btn-lg btn-primary">Lire les nombres <span class="glyphicon glyphicon-sort-by-order"></span></button></a>
			<a href="#/writeNumbers"><button type="button" class="btn btn-lg btn-primary">Écrire les nombres <span class="glyphicon glyphicon-sort-by-order"></span></button></a>
		</div>
	</div>

	<div class="row" id="row">
		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<a href="#/home" data-toggle="modal" data-target="#myModal">
				<button type="button" class="btn btn-sm btn-danger" ng-click="deleteAccount()"><span class="glyphicon glyphicon-remove"></span> Supprimer le compte</button>
			</a>
		</div>
	</div>
	


</div><!-- ferme col-md-9 -->
